@import "./--Variables.scss";

.landing {
  background-image: url("/Images/00.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(90vh - 90px);
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  &-container {
    width: 800px;
    height: 350px;
    background: rgba(66, 66, 66, 0.815);
    text-align: center;
    z-index: 1;

    h1 {
      font-size: 48px;
      color: $secondary-color;
      text-transform: uppercase;
    }

    hr {
      width: 70%;
    }

    h2 {
      margin-top: 50px;
      color: rgb(252, 241, 231);
    }
  }
}

@media (max-width: 600px) {
  .landing-container {
    width: 100%;
    min-height: 400px;

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
